---

---


<section class="apps-container">
    <div class="app">

    </div>
    <div class="app">

    </div>
    <div class="app">

    </div>
    <div class="app">

    </div>
    <div class="app">

    </div>
</section>

<style>
    .apps-container{
        border: 1px solid red;
        width: 100%;
        height: 100%;
        display: flex;
        gap: 2rem;
        margin: 0 auto;
    }

    .app{
        height: 80px;
        width: 80px;
        border: solid 1px lawngreen;
        transition: all 0.3s ease;
    }

    .app:hover{
        height: 100px;
        width: 90px;
        transition: all 0.3s ease;
    }
</style>