

<section class="container-servers">
    <div class="buscador-container">
    </div>

    <div class="servers-container">

    </div>

    <div class="mas-container">

    </div>
</section>




<style>
    .container-servers{
        color: white;
        border: solid red 1px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .buscador-container{
        height: 10%;
        border: solid yellow 1px;
    }

    .servers-container{
        height: 70%;
        border: solid greenyellow 1px;
    }

    .mas-container{
        height: 10%;
        border: 1px solid orange;
    }
</style>