

<section class="user-container">
    <div class="user-buscador">

    </div>

    <div class="display-user">

    </div>
</section>



<style>
    .user-container{
        border: 1px solid red;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .user-buscador{
        border: 1px solid orange;
        height: 10%;
    }

    .display-user{
        border: 2px solid green;
        height: 80%;
    }
</style>